* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body {
    background: #020617;
    color: #e5e7eb;
}

header {
    padding: 15px;
    background: #020617;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #1e293b;
}

.layout {
    display: flex;
    height: calc(100vh - 60px);
}

aside {
    width: 200px;
    background: #020617;
    border-right: 1px solid #1e293b;
    padding: 10px;
}

aside button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background: #1e293b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

aside button:hover {
    background: #334155;
}

main {
    flex: 1;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
}

.panel {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(2,6,23,0.95);
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}
